.note-container {
    max-width: 85%;
    margin: auto;    
}

.notests {
    position: absolute;
    top: 15px;
    left: 50%;
    font-family: Roboto-Regular;
    font-size: 25px;
    font-weight: 100;
    background-color: rgba(100, 100, 100, 0.8);
    padding: 1em 2em;
    border-radius: 5px;
    color: #ffffff;
    margin: 0;
    transform: translate(-50%, 0);
    opacity: 0;
    display: none;
    text-align: center;
    line-height: 1.3;
}

.noteForm {
    width: 100%;
    margin: 0;
    margin-top: 75px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.noteTextarea {
    width: 100%;
    height: 50vh;
    resize: none;
    margin: 0;
    padding: 15px;
    border: none;
    margin-top: 25px;
    box-shadow: 5px 10px 20px rgba(100, 100, 100, 0.25);
    border: 1px solid #929292;
    border-radius: 10px;

    font-family: Roboto-Regular;
    font-weight: 100;
    font-size: 23px;
}

.noteFormCollection {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 25px;
}
.noteButton {
    margin: 0;
    border: 1px solid #252525;
    color: #252525;
    padding: 0.5em 2em;
    transition: 150ms ease-in-out;
    border-radius: 5px;
    font-family: Roboto-Regular;
    font-size: 23px;
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.25);
}
.noteButton:hover, .noteButton:focus {
    background-color: #141414;
    color: #ffffff;
    cursor: pointer;
    
}

.noteDisclaimer {
    display: inline-block;
    font-family: Roboto-Bold;
    font-weight: 600;
    font-size: 19px;
    color: #C82323;
    letter-spacing: 0.8px;
    margin: 0;
    text-align: center;
}

@media(max-width: 785px) {
    .noteFormCollection {
        justify-content: center;
    }
    .noteButton {
        margin-top: 25px;
    }
}
